<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
     <link rel="stylesheet" href="css/home.css"> 
    <style>
       * {
    box-sizing: border-box;
     
}

body{
    background-image: whitesmoke;
   
}


#body_1 {
    height: 150vh;
    width: 40vw;
    background-color:rgba(244, 224, 224, 0.999);
    margin-top: 30px;
    margin-left: 30vw;
    padding-left: 5vw;
    padding-top: 5vh;
    border-radius: 8px;
    border: 3px solid black;
}

.para {
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 25vw;
    height: 5vh;
    border-radius: 8px;
    border: 3px solid black;
    font-size: 18px;
    padding-left: 8px;
    color: black;
    
}

#alpha {
    text-align: center;
    padding-right: 30px;
}

input::placeholder {
    font-size: 18px;
}

select {
    width: 25vw;
    height: 5vh;
    border: 3px solid black;
    border-radius: 8px;
}

button {
    width: 10vw;
    height: 5vh;
    border: 3px solid black;
    border-radius: 8px;
    font-size: 18px;
}

button:hover {
    background-color: greenyellow;
}

#Add {
    margin-top: 5px;
}

hr {
    margin-top: 80px;
}
#btn{
    margin-top: 5vh;
    width:10vw;
    height: 4vh;
    margin-left: 10vh;
}
#btn:hover{
     background-color: burlywood;
}
ul{
    list-style: none;
    text-decoration: none;

}
 a {
      text-decoration: none;
      color:white;
      margin-left:20px;
    }

    a:hover {
      color: crimson;

    }
</style>
</head>
<header>
   <div class="main">
    <div class="navbar">
      <div class="icon" >

        <img
          src="https://cdn.pixabay.com/photo/2013/07/13/09/48/blood-156063__480.png"
          alt="LOGO"
          style="height: 80px; width:80px; border:2px solid white; border-radius:60%; margin:0px 10px 20px 10px ;">

        <h1 style="margin-left: 25px; margin-top:40px; color: #961e1b;">Blood Bank Management</h1>
        <ul>
          
        <div class="topnav" style="margin-left: 25vw; padding:20px; font-size:20px; font-family:Arial, Helvetica, sans-serif;color:white;float:left;">
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          <a href="/contact_us">Contact</a>
          
        </div>
        </ul>
      </div>
    </div>
  </div>
</header>

<body>
    
    <form class="regform" action="/user_reg" method="POST">
        <div class="container" id="body_1">
            <h1 id="alpha">Donor Registration</h1>
            <p class="para">Enter Your First Name:</p>
            <input type="text" value="" placeholder="Name" required name="fullname">
            {{!-- <p class="para">Enter Your Middle Name:</p>
            <input type="text" value="" placeholder="Middle Name" name="middlename">
            <p class="para">Enter Your Last Name:</p>
            <input type="text" value="" placeholder="Last Name" required name="lastname"> --}}
            <p class="para">Date of Birth</p>
            <input type="date" placeholder="DD/MM/YYYY" name="dob" required>
            <p class="para" id="address">Address</p>
            <input type="text" id="Add" value="" placeholder="Address"  name="firstline"><br>
            
            <p class="para"> Enter your Pin Code</p>
            <input type="text" value="" placeholder="Pin Code"  name="pin" required>
            <p class="para">Contact</p>
            <input type="tel" value="" placeholder="Contact"  name="contact" required>
            <p class="para">Gender</p>
            <select name="gender">
                <optgroup label="Gender">
                    <option value="select">select</option>
                    <option value="Male" name="gender">Male</option>
                    <option value="Female" name="gender">Female</option>
                    <option value="Transgender" name="gender">TransGender</option>
                </optgroup>
            </select>
             <p class="para">Blood Group</p>
            <select name="bloodgroup"> 
                <optgroup label="Blood Group">
                    <option value="select">select</option>
                    <option value="A+" name="bloodgroup">A+</option>
                    <option value="A-" name="bloodgroup">A-</option>
                    <option value="AB+" name="bloodgroup">AB+</option>
                    <option value="AB-" name="bloodgroup">AB-</option>
                    <option value="B+" name="bloodgroup">B+</option>
                    <option value="B-" name="bloodgroup">B-</option>
                    <option value="O+" name="bloodgroup">O+</option>
                    <option value="O-" name="bloodgroup">O-</option>
                </optgroup>
            </select>
            <p class="para">Email</p>
            <input type="email" placeholder="E-mail"  name="email" required>
            <p class="para">Create Password</p>
            <input type="password" placeholder="Password"  name="password" required>
            <input id="btn" type="submit" value="Registration">
    </form>
</body>
</html>